version: "3.8"

# services
services:
  app:
    build:
        context: .
        dockerfile: Dockerfile
    ports:
      - "8085:8085"
    networks:
        - mynetwork

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mayur
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: student_db
    ports:
      - "5433:5432"
    networks:
        - mynetwork
    volumes:
      - postgres-my-data:/var/lib/postgresql/data

networks:
    mynetwork:
        driver: bridge

volumes:
  postgres-my-data:

